<section class="views">
<h1 class="page-header">Edit video information</h1>

<%= render 'form' %>

<%= link_to 'Show', @video %> |
<%= link_to 'Back', videos_path, class: "btn btn-default" %>
</section>